.form {
  display: flex;
  flex-direction: column;
  color: var(--text-50);
  background-color: var(--accent-800);
  padding-block: 2rem;
  padding-inline: 1.6rem;
  border-radius: 8px;
  font-size: 1.4rem;
}

.heading {
  font-size: 1.8rem;
}

.fields {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 1.2rem;
  padding-block: 1.2rem;
}

.label {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.input {
  border-radius: 4px;
  background-color: var(--accent-900);
  padding-block: 0.4rem;
  padding-inline: 0.4rem 1.2rem;
  border: 2px solid transparent;
}

.input:focus-visible {
  border-color: var(--accent-700);
}

.input:hover {
  border-color: var(--accent-600);
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input::placeholder {
  color: var(--text-300);
}

.submit {
  background-color: var(--accent-900);
  display: inline-block;
  border-radius: 4px;
  padding-block: 0.4rem;
  padding-inline: 0.8rem;
  border: 2px solid transparent;
}

.submit:focus-visible {
  border-color: var(--accent-700);
}

.submit:hover {
  background-color: var(--accent-700);
}

.submit:disabled {
  color: var(--text-800);
  background-color: var(--text-300);
  cursor: initial;
}

.select {
  padding-block: 0.4rem;
  padding-inline: 0.4rem 1.2rem;
  border-radius: 4px;
  background-color: var(--accent-900);
  color: currentColor;
}

.select:invalid {
  color: var(--text-300);
}

.select .option:first-of-type {
  color: var(--text-300);
}

.select .option {
  color: currentColor;
}

.option:disabled {
  color: var(--text-300);
}
