.sort {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
}

.select {
  background-color: var(--accent-800);
  border-radius: 0.4rem;
  padding-block: 0.2rem;
  padding-inline: 0.4rem;
  min-inline-size: 6.4rem;
  color: var(--text-50);

  &:focus-visible {
    outline: 1px solid var(--accent-500);
  }
}