.container {
  background-color: var(--accent-800);
  position: fixed;
  inline-size: calc(100% - 24rem - var(--scrollbar-width));
  right: var(--scrollbar-width);
  bottom: 0;
}

.hidden {
  min-block-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-inline-end: 6.4rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1;
}

.map {
  background-color: var(--accent-900);
}

.open {
  block-size: 40dvb;
}

.container:has(.open) .button {
  transform: rotate(180deg);
}