.layout {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  color: var(--text-50);
  background-color: var(--background-950);
  max-block-size: 100dvb;
}

.content {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  flex-grow: 1;
  gap: 1.2rem;
  padding-block: 1.6rem 2.4rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  --scrollbar-width: 0.8rem;
}

.subheading {
  font-size: 1.8rem;
  justify-self: center;
  padding-block-end: 1.2rem;
}

.fallbackLayout {
  display: flex;
  block-size: 100dvb;
  inline-size: 100dvi;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: var(--background-950);
}

.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 3.6rem;
  color: var(--text-50);
}


/* TODO: поправить секцию с картой, чтоб было красиво */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .subheading {
    text-align: center;
  }
}
